<template>
    <div>
        <div v-for="(row, index) in taskCreated.filter(r => r.status == jenis)" :key="index">
            <b-card>
                {{ row.description }}
                <br>
                <b-button @click.prevent="left(row)" v-if="['doing', 'done'].includes(jenis)" variant="primary"
                    class="mb-2">
                    <b-icon icon="arrow-left" aria-label="Help"></b-icon>
                </b-button>
                <b-button @click.prevent="right(row)" v-if="['doing', 'todo'].includes(jenis)" variant="primary"
                    class="mb-2">
                    <b-icon icon="arrow-right" aria-label="Help"></b-icon>
                </b-button>
            </b-card>
            <br>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['jenis'],
        name: 'cardName',
        computed: {
            taskCreated() {
                let data = this.$store.state.listTask
                console.log(data, "data")
                return data
            }
        },
        methods: {
            right(row) {
                console.log(row, "check isi row")
                this.$store.dispatch('rightMove', row)
                console.log("this is actions right")
                row = {
                    description: row.description,
                    status: row.status
                }
            },
            left(row) {
                this.$store.dispatch('leftMove', row)
                console.log("this is actions left")
                row = {
                    description: row.description,
                    status: row.status
                }
            }

        }
    }
</script>