<template>
    <div class="col-md-4">
        <h3 class="card-title">Doing</h3>
        <div class="card-body costumedoing">
            <card-name jenis="doing" />
        </div>
    </div>
</template>
<script>
    import CardName from './CardName'
    export default {
        name: 'todoInput',
        components: {
            CardName
        },
    }
</script>
<style>
    .costumedoing {
        background-color: #cec7c7;
        margin-top: 25px;
        border-radius: 9px;
    }
</style>
