<template>
    <div class="col-md-3">
        <h3 class="card-title">Done</h3>
        <div class="card-body costumedone">
            <card-name jenis="done" />
        </div>
    </div>
</template>
<script>
    import CardName from './CardName'
    export default {
        name: 'todoInput',
        components: {
            CardName
        }
    }
</script>
<style>
    .costumedone {
        background-color: #cec7c7;
        margin-top: 25px;
        border-radius: 9px;
    }
</style>