<template>
    <div class="col-md-3">
        <h3 class="card-title">Todo <b-button @click.prevent="simpan" variant="primary" class="mb-2">add task
                <b-icon icon="plus" aria-hidden="true"></b-icon>
            </b-button>
        </h3>
        <div class="card-body costume">
            <card-name jenis="todo" />
        </div>
    </div>
</template>
<script>
    import CardName from './CardName'
    export default {
        name: 'todoInput',
        components: {
            CardName
        },
        data() {
            return {
                task: {
                    description: "Dummy Data",
                    status: 'todo'
                }
            }
        },

        methods: {
            simpan() {
                this.$store.dispatch('saveTask', this.task)
                this.task = {
                    description: 'Dummy Data',
                    status: 'todo'
                }
            }

        }
    }
</script>
<style>
    .costume {
        background-color: #cec7c7;
        border-radius: 9px;
    }
</style>